/* CSS RESET */
body {
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* OTHER CSS DECLARATION BLOCKS  */

:root {
    --bg-color: hsl(47, 88%, 63%);
    --card-background: hsl(0, 0%, 95%);
    --font-color: hsl(0, 0%, 7%);
    --font-color-muted: hsl(0, 0%, 35%);
}

@media (prefers-color-scheme: dark) {
    body {
        --bg-color: hsl(47, 88%, 37%);
        --card-background: hsl(0, 0%, 5%);
        --font-color: hsl(0, 0%, 93%);
        --font-color-muted: hsl(0, 0%, 65%);
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Figtree', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /* font-size: 0.9rem; */
}

.page {
    height: 97vh;
    /* max-width: 375px; */
    padding: 2rem;
    display: flex;
    background-color: var(--bg-color);
}

.blog-card {
    max-width: 375px;
    border-radius: 15px;
    margin: auto;
    padding: 1.5rem;
    background-color: var(--card-background);
    color: var(--font-color);
    border: 2px solid var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px;
}

.blog-card > * {
    margin: auto;
}

.blog-card > img {
    border-radius: 15px;
    box-shadow: 2px 2px;
    /* border-right: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color); */
}

.text-area {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0rem;
}

h1 {
    font-weight: 800;
    font-size: 1.5rem;
}

h1:hover {
    color: var(--bg-color);
}

.category-type {
    background-color: var(--bg-color);
    font-weight: bold;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    align-self: first baseline;
}

.text-area > .preview-text {
    color: var(--font-color-muted);
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0rem 0rem 0rem;
}

.author > img {
    width: 15%;
}

.author > b {
    font-weight: 800;
}

/* attribution  */

.attribution {
    font-size: 11px;
    text-align: center;
    height: 3vh;
    background-color: var(--bg-color);
    /* color: var(--font-color); */
}
.attribution a {
    color: hsl(228, 45%, 44%);
    font-weight: bold;
}
.attribution a:hover {
    text-decoration: none;
}

/* outer layout fixed  */
